setxkbmap es &
xset r rate 300 35 &
/usr/bin/nvidia-settings -l &
wmname dwm &
dwm-status &
nitrogen --restore &
mpd &
numlockx on &
redshift -l 41.39:2.16 -m randr -t 5500:5000 &
setxkbmap -option caps:ctrl_modifier &
# picom &
# emacs --daemon &
# sleep 1s && st -e vim ~/tareas &
