setxkbmap es &
xset r rate 300 35 &
/usr/bin/nvidia-settings -l &
mpd &
numlockx on &
redshift -l 41.39:2.16 -m randr -t 5500:5000 &
setxkbmap -option caps:ctrl_modifier &
urxvtd -q -f -o &
# emacs --daemon &
# wmname dwm &
# dwm-status &
# nitrogen --restore &
# picom &

# vim: ft=sh
