*.font:     Ubuntu mono:pixelsize=18:antialias=true:autohint=true
*.alpha:    1.00

!!! emacs

Emacs.font: Ubuntu mono:pixelsize=18:antialias=true:autohint=true
Emacs.geometry: 98x48
Emacs.reverseVideo: false
Emacs.alpha: 100
Emacs.scrollBar: false
Emacs.verticalScrollBars: off
Emacs.horizontalScrollBars: off
Emacs.menuBar: false
Emacs.toolBar: false

!!! urxvt

URxvt*font: xft:Ubuntu mono:pixelsize=18:antialias=false:autohint=true
URxvt.iconFile: /usr/share/icons/breeze-dark/apps/32/utilities-terminal.svg
URxvt.scrollBar: false
! URxvt.internalBorder: 10
URxvt.saveLines: 0
! URxvt.geometry: 90x30
URxvt.geometry: 120x40
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.resize.increment: 1
! URxvt.letterSpace: 1
URxvt.letterSpace: -1
URxvt.fading: 30
! URxvt.lineSpace: 3
URxvt.transparent: false
URxvt.depth: 32
URxvt.hold: false
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.underlineColor: red
URxvt.scrollTtyOutput: true
URxvt.scrollTTyKeypress: true
Urxvt.termName: rxvt
URxvt.perl-ext-common:
URxvt.perl-ext:

!!! xft

Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight

!!! sxiv

/* Sxiv.font: mononoki NF:size=14 */
/* Sxiv.foreground: #d1d1d1 */
/* Sxiv.background: #151515 */

!!! nsxiv

Nsxiv.bar.font: Ubuntu mono:size=14
Nsxiv.window.foreground: #d1d1d1
Nsxiv.window.background: #151515
Nsxiv.bar.foreground: #626262
Nsxiv.bar.background: #151515
Nsxiv.mark.foreground: #535d6c

!!! mis colores

*.background: #151515
*.foreground: #ededed
*.cursorColor: #ededed

*.color0:   #000000
*.color8:   #5a5a5a
*.color1:   #b3303a
*.color9:   #ce2b50
*.color2:   #228b22
*.color10:  #00ab3a
*.color3:   #a45f22
*.color11:  #c86333
*.color4:   #3a5fcd
*.color12:  #7090ff
*.color5:   #721045
*.color13:  #8b2252
*.color6:   #3f7a80
*.color14:  #2f8fab
*.color7:   #bfbfbf
*.color15:  #bfbfbf
