configuration {
    modi: "drun,run";
    font: "mononoki NF 12";
    display-run: "Run";
    display-drun: "Launch";
    matching: "normal";
    drun-match-fields: "name";
    drun-display-format: "{name}";
}
@theme "/usr/share/rofi/themes/android_notification.rasi"
