#nav-bar {
  /* customize this value. */
  --navbar-margin: -34px;

  margin-top: var(--navbar-margin);
  margin-bottom: 0;
  z-index: -100;

  opacity: 0;
}

#navigator-toolbox:focus-within > #nav-bar,
#navigator-toolbox:hover > #nav-bar
{
  margin-top: 0;
  margin-bottom: 0;
  z-index: 100;

  opacity: 1;
}

#nav-bar:hover {
  /* customize this value. */
  --navbar-margin: 0px;

  margin-top: var(--navbar-margin);
  margin-bottom: 0;
  z-index: -100;

  opacity: 0;
}

