@-moz-document url("about:home"), url("about:newtab"), url("about:blank"), url("about:privatebrowsing") {
  body {
    background-image: url("hollowknight.png") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
  }
}
